@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Black.ttf);
    font-weight: 900;
}
html{
    font-family: Lato;
}
body, h1, p{
    margin: 0;
}

.center{
    margin: 0 auto;
    width: 1140px;
}

.pink-txt{
    color: #F16D7F;
}
.big-txt{
    font-size: 48px;
    font-weight: 900;
}
.additional-txt{
    font-weight: 700;
}

header{
    background-color: #222;
    height: 75px;
    display: flex;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
}
.start-header{
    display: flex;
    gap: 41px;
}

.main-post-background{
    background-color: #F1E4E6;
}
.main-post{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.left-block{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-right: 64px;
}
.right-block{
    display: flex;
    justify-content: flex-start;
    width: 50%
}
.rectangle{
    margin-right: 16px;
}

.blocks{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
}

.block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(33, 22, 22, 0.70); */
    z-index: 1;
    height: 13fr;
}
.block_img{
    position: relative;
}
.block_txt{
    position: absolute;
    background-color: rgba(33, 22, 22, 0.70);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block4{
    grid-column: 1 / 4;
    height: 9 fr;
}

.a{
    height: 200px;
    width: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
